		body{
			background: #e1bee7;
			font-size: 21px;
			}

		p{ 
			color: #1a237e; 
			text-align: justify;
			font-family: "comic", cursive;
			}
		h1{
			font-family: "comic", cursive;
			color:#283593;
			font size: 52px;
			text-align: center;
			}